body {
	padding: 0;
	margin: 0;
}

.header {
	background-image: url("images/PlaneFacts.jpg");
	background-size: 100%;
	background-position: bottom;
	display: flex;
	height: 400px;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.header h1 {
	color: white;
	margin: 0 0 50px 0;
	font-size: 40px;
}

.header h2 {
	color: white;
	margin: 0 0 50px 0;
	font-size: 25px;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.container h2 {
	font-size: 30px;
	margin: 50px 0 50px 0;
}

.cards {
	display: flex;
	justify-content: center;
	gap: 60px;
}

.card {
	background-color: #cad5e6;
	width: 300px;
    height: 400px;
    padding: 20px;
}

.card img {
	width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top; 
}

.card-title {
	font-family: Helvetica, sans-serif;
	text-align: center;
	font-size: 40px;
	color: white;
}

a {

	text-decoration: none;
	color: pink;
	background-color: white;
	padding: 10px;
	font-size: 25px;
	border-radius: 5px;
}

.footer {
	display: flex;
	background-color: #3c474d;
	height:200px;
	margin-top: 50px;
	color: white;
	align-items: center;
}

.footer h3 {
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	font-style: regular;
	font-size: 18px;
	color: white
	align-items: center;
	padding: 30px;
}

.video {
	margin-top: 50px;
    display: flex;
	justify-content: center;
	align-items: center;
}

